@import "tailwindcss";

html,
body,
:root {
    height: 100%;
}

/* Satoshi */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}